<!DOCTYPE html>
<head>
	<title>Disclaimer</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#000000">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">
</head>
<body style="background-color:#181818;color:white;" link="blue" vlink="blue" alink="red">
	<h1>Disclaimer:</h1>
	<p>The time and date at which you accessed this website, your IP adress, what page on the website that you accessed, and an html code will be recorded. Website 'cookies' may also be stored on your device. By using this site, we assume that you are okay with this.</p>
	<h4><a href="/">Go Back</a></h4>
</body>
</html>
