<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#000000">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
	<meta name="theme-color" content="#ffffff">
</head>
<body style="background-color:#181818;color:white;" link="blue" vlink="blue" alink="red">
	<h1>{{ title }}</h1>
	<h2>{{ error }}</h2>
	<h3>{{ path }}</h3>
	<h3><a href="{{ url_for('index') }}">Back</a></h3>
</body>
</html>
