[Unit]
Description=More-Than-An-Alarm-Clock Front End Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/Clock-Pi/Clock/clock.py

[Install]
WantedBy=multi-user.target
