[Unit]
Description=More-Than-An-Alarm-Clock Web Script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/Clock-Pi/Web/web.py

[Install]
WantedBy=multi-user.target
